.container {
  display: flex;
  border-radius: 10px;
  border: 2px solid #919b9b;
  padding: 1rem;
  gap: 8px;
}

.input {
  outline: none;
  border: none;
  background-color: white;
  color: black;
  font-size: large;
}

.input::placeholder {
  color: #919b9b;
}

.line {
  font-weight: 700;
  color: black;
}
