/* Outer container to hold all sections */
.page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-image: url("https://static.vecteezy.com/system/resources/thumbnails/006/965/779/small/empty-top-wooden-table-and-sakura-flower-with-fog-and-morning-light-background-photo.jpg"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: white;
}

.outer-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.top-container {
  height: 50%;
  width: 100%;
  background-color: red;
}

/* Middle container to hold main body */
.middle-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50%;
}

/* Bottom container for footer-style area */
.bottom-container {
  height: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
